
<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAdd(f)" #f="ngForm">
      <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" ngModel name="Name" required>
            </div>
            <div class="col-sm-2 form-group">
               <label for="amount">Amount</label>
               <input  type="number" id="amount" class="form-control " ngModel name="amount" required pattern="[1-9]+[0-9]*$">
               </div>
        </div>
              <div class="row">
                 <div class="col-xs-12">
                   <div class="row">
                   <div class="col-xs-2">
                    <button class="btn btn-success"  type="submit" [disabled]="!f.valid" >{{!editedMode ? 'Add':'Update'}}</button></div>
                        <div class="col-xs-2" *ngIf="editedMode">  <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button></div>
                          <div class="col-xs-2">      <button class="btn btn-primary" type="button"  (click)="onClear()">clear</button></div>
                          </div>
                  </div>
                  </div>
                  </form>
                  </div>
                  </div>
